@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-star-rating-master/css/star-rating";
@import "font-awesome-sprockets";
@import "font-awesome";

.user-needs {
  float: right;
}

.category {
  text-transform: uppercase;
  font-size: 12px;
}

.creator {
  font-size: 13px;
  margin-bottom: 15px;
}

.product-header {
  position: relative;
}

.product-heading {
  display: inline;
}

.sale-tag {
  display: inline;
  background-color: #A60B0B;
  padding: 5px;
  border: 1px solid #A60B0B;
  border-radius: 10px;
  color: white;
  margin-bottom: -2px;
}

.fa-heart,
.fa-heart-o {
  font-size: 20px;
}
